<!--OnInit and OnDestoy-->
<h4 class="ui horizontal divider header">
  OnInit and OnDestoy
</h4>

<button class="ui primary button" (click)="toggle()">
  Toggle
</button>

<app-init-destroy *ngIf="display"></app-init-destroy>

<!--OnChange-->
<h4 class="ui horizontal divider header">
  OnChange
</h4>

<div class="ui form">
  <div class="field">
    <label>Name</label>
    <input type="text" #namefld value="{{name}}"
           (keyup)="setValues(namefld,commentfld)">
  </div>

  <div class="field">
    <label>Comment</label>
    <textarea (keyup)="setValues(namefld,commentfld)"
              rows="2" #commentfld>{{comment}}</textarea>
  </div>
</div>

<app-change [name]="name" [comment]="comment"></app-change>

<!--OnDoCheck-->
<h4 class="ui horizontal divider header">
  OnDoCheck
</h4>

<app-do-check></app-do-check>

<!--After-->
<h4 class="ui horizontal divider header">
  AfterContentInit, AfterViewInit, AfterContentChecked and AfterViewChecked
</h4>

<app-after *ngIf="displayAfters" [counter]="counter"></app-after>

<button class="ui primary button" (click)="inc()">
  Increment(outer)
</button>

<button class="ui primary button" (click)="toggleAfters()">
  Toggle
</button>
