<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active">主页</a></li>
        <li><a routerLink="/products" routerLinkActive="active">产品</a></li>
        <li><a routerLink="/about" routerLinkActive="active">关于</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">联系我们</a></li>
        <li><a routerLink="/protected" routerLinkActive="active">隐私内容</a></li>
      </ul>

      <app-login></app-login>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>




